/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}



/* utility */
.flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}
.wrap{
  flex-wrap: wrap;
}
.relative{
  position: relative;
}
.blue-btn{
  display: inline-block;
  background-color: rgb(0,97,255);
  padding: 5px 10px;
}
.white-btn{
  display: inline-block;
  background-color: white;
  border: solid 2px black;
  padding: 5px 10px;
}
.white-btn a{
  color: black;
  text-decoration: none;
}
.blue-btn a{
  color: white;
  text-decoration: none;
}
.col-60{
  margin: 0 auto;
  width: 60%;
}
.col-70{
  margin: 0 auto;
  width: 70%;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-50{
  margin-bottom: 50px;
}
.mb-80{
  margin-bottom: 80px;
}
.mt-50{
  margin-top: 50px;
}
.mt-30{
  margin-top: 30px;
}
.pt-30{
  padding-top: 30px;
}
.w-100{
  width: 100%;
}
.txt-center{
  text-align: center;
}
.w-70{
  width: 70%;
}
h2{
  font-size: 35px;
}
h3{
  font-size: 25px;
  margin-bottom: 20px;
}





/* header */

/* nav */
nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 5px lightgray;
}
nav a {
  text-decoration: none;
}
nav ul li a {
  color: black;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}
nav img, nav ul{
  display: inline-block;
}
nav img{
  height: 20px;
  margin-right: 10px;
}
.left-nav, .right-nav{
  margin: 20px 10px;
}


/* banner */
.banner-header{
  background-color: #b4d0e7;
  margin-top: 40px;
}
.banner-container{
  top: 50px;
}
h1{
  font-size: 60px;
  font-weight: 900;
}
.left-banner{
  flex-basis: 30%;
}
.right-banner{
  flex-basis: 70%;
}
.right-banner img{
  width: 100%;
}
.left-banner p, 
.left-banner span,
.left-banner div{
  margin-bottom: 30px;
}
.arrow{
  margin-top: 55px;
}
.arrow a {
  text-decoration: none;
  font-size: 40px;
  color: black;
}




/* main */
main{
  margin-top: 100px;
}

/* section 1 */
.select-fatturazione span{
  margin-right: 50px;
}
.selezione i{
  color: rgb(0,97,255);
}
.non-selezione i{
  color: lightgray;
}
.sub-container{
  margin-top: 30px;
  align-items: stretch;
}
.sub-container ul li{
  list-style-type: none;
  margin-top: 15px;
  font-size: 13px;
  display: flex;
}
.sub-container ul li i{
  margin-right: 5px;
}
.indice{
  border-bottom: solid 1px lightgray;
  padding: 10px 0;
}
.singolo-sub,
.team-sub,
.azienda-sub,
.enterprise{
  border: solid 1px lightgray;
}
.content-card{
  padding: 30px 20px;
}
.content-card hr{
  width: 20%;
}
.prezzo{
  font-weight: 900;
  margin-bottom: 10px;
}
.piano{
  color: gray;
}
.fa-check{
  color: rgb(0,97,255);
}
.team-sub{
  margin: 0 40px;
}
.team-sub,
.singolo-sub,
.azienda-sub{
  flex-basis: calc(100% / 3);
}
.enterprise{
  margin-top: 30px;
}
.part-db-container div img{
  width: 100%;
}
.left-part-db{
  flex-basis: 60%;
  padding-right: 30px;
}
.right-part-db{
  flex-basis: 40%;
  padding-left: 30px;
}
.card-db-business{
  flex-basis: calc(100% / 3 - 5%);
}
.card-db-business img{
  width: 100%;
}
/* footer */